/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/




/* Base
   ====================================== */

body {
	font-family: 'Assistant', sans-serif;
    background: #ffffff;
}




/* LAYOUT
   ====================================== */

.wrapper,
#primary-nav {
    max-width: 968px;
}

.swiper-container {
    width: 100%;
}




/* HELPERS
   ====================================== */

.list-items-margin > li:not(last-child) {
    margin-bottom: 1rem;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text-md-justify {
        text-align: justify !important;
    }
}




/* CARDS
   ====================================== */

.card-heading-text h4 {
    font-size: 1.2rem !important;
    margin-bottom: 0;
    font-weight: 600;
}

.card-desc-text {
    font-size: 1.1rem;
    /*text-align: justify;*/
}




/* BACKGROUND COLORS
   ====================================== */

.bg-blue   { background-color: #4491fc; }
.bg-red    { background-color: #fc4444; }
.bg-orange { background-color: #fcad00; }
.bg-green  { background-color: #24bd42; /*#2ad14b;*/ }
.bg-cta    { background-color: #a200f2; }
.bg-cta-light { background-color: #c564f5; }




/* CLOUDS BACKGROUND
   ====================================== */

@-webkit-keyframes animatedBackground {
from { background-position: 0 0; }
to { background-position: 600px 0; }
}

@keyframes animatedBackground {
from { background-position: 0 0; }
to { background-position: 600px 0; }
}

.bg-clouds {
    background-color: #29c5ff;
	background-image: url(../images/clouds.png);
	background-size: 900px;
	-webkit-animation: animatedBackground linear 50s infinite;
	        animation: animatedBackground linear 50s infinite;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { .bg-clouds {background-size: 900px;} }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { .bg-clouds {background-size: 1000px;} }

/* Large devices (desktops, 992px and up) */
/*
@media (min-width: 992px) { .bg-clouds {background-size: 1200px;} }
*/




/* FEATURES
   ====================================== */

.con-heading {
    font-size: 1.3rem;
    font-weight: 600;
}




/* ARTICLE
   ====================================== */

.text-article-body {
    font-size: 1.1rem;
}
.text-article-title {
    font-weight: bold;
}

.text-article-subtitle {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0;
}
.text-article-heading {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1.2rem;
}




/* ARTICLE SHARE
   ====================================== */

.share-container {
    font-size: 2rem;
}

.share-container.bottom {
    font-size: 2rem;
}

.fa-twitter-square {
    color: #1DA1F2;
}

.fa-whatsapp-square {
    color: #25D366;
}

.fa-envelope-square {
    color: #898989;
}




/* NAVBAR
   ====================================== */

.logo-img {
    width: 149.4px;
    height: 42.3px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .logo-img {
        width: 166px;
        height: 47px;
    }
}

.navbar-toggler {
    font-size: 1.3rem;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .navbar-toggler {
        font-size: 1.5rem;
    }
}

.full-phone-cta-btn {
    color: #ffffff;
    font-size: 1.3rem;
    border: 0px solid rgba(0,0,0,0);
    border-radius: .25rem;
}

.full-phone-cta-btn:hover {
    color: #ffffff;
    text-decoration: none;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .full-phone-cta-btn {
        font-size: 1.5rem;
    }
}

.full-phone-cta-btn-number,
.full-phone-cta-btn-icon {
    padding: .25rem .25rem;
    line-height: 1;
}

.full-phone-cta-btn-number {
    display: none;
    border: 1px solid rgba(0,0,0,.1);
    border-right-color: transparent;
    border-top-left-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important;
}

/* 390px and up */
@media (min-width: 390px) {
    .full-phone-cta-btn-number {
        display: block;
    }
}

.full-phone-cta-btn-icon {
    background-color: rgba(0,0,0,.05);
    border: 1px solid rgba(0,0,0,.1);
    border-left-color: transparent;
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
}

.nav-menu-text {
    font-size: 1.1rem;
    font-weight:600;
}

.nav-submenu-text {
    font-size: 1.1rem;
}




/* CREDIT
   ====================================== */

.credit-text {
    font-size: 0.9rem;
}




/* HERO
   ====================================== */

.hero-heading {
    font-size: 2rem;
    color: #29c5ff;
    font-weight: 800;
}

.hero-subheading {
    font-size: 1.1rem;
    font-weight: 600;
}




/* ABOUT PAGE
   ====================================== */

.about-text {
    font-size: 1.3rem;
}

.text-lighter {
    color: #9e9e9e/*#adadad*/;
}

.font-weight-semi-bold {
    font-weight: 600;
}

.about-text-primary {
    color: #29c5ff;
}

.about-text-secondary {
    color: #f874fc;
}

.about-img-size {
    width: 124px;
    max-width: 124px !important;
    height: 124px;
    max-height: 124px !important;
}





/* FOOTER CTA
   1. Override BootStrap's default btn hover color
   ====================================== */

.footer-cta-headline-text {
    font-size: 1.3rem !important;
    font-weight: bold;
    color: #ffffff;
}
.footer-cta-btn-text {
    font-size: 1.9rem;
    color: #ffffff !important; /* 1 */
    font-weight: bold;
}